{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": ["react-native"],
  "env": {
    "production": {
      "plugins": ["@babel/plugin-proposal-optional-chaining","ignite-ignore-reactotron"]
    }
  }
}
